*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
}

body{
    background-image:radial-gradient(100% 100% at 50% 100%, #e8d0b4 0%, #c0c2c1 100%), linear-gradient(360deg, #d2906d 0%, #c0c2c1 100%)
}
/* GENERALES*/

h1, h2, h3{
    font-family: 'EB Garamond', serif;
}

img{
    max-width: 150px;
}

/*nav*/

/* CSS INDEX */
.index__grid{
    display: grid;
    grid-gap: 35px;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: 
    "head"
    "hero"
    "carrusel"
    "indexsomos"
    "indexproductos"
    "redi"
    "foot";
}

.head{
    grid-area: head;
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    background-color: #c0c2c1;
    height: 150px;
    align-items: flex-end;
}

.logo__nav{
    height: 150px;
    width: auto;
}

.head__nav{
    display: flex;
    margin: 10px;
    margin-bottom: 25px;
}

.nav__links{
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: black;
}
.nav__link{
    margin: 10px;
    padding: 5px;
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-size: large;
    position: relative;
}

.nav__link:hover{
    color: #d2906d;
}

.nav__link::after{
    content: "";
    position: absolute;
    background-color: #d2906d;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: .3s;
}

.nav__link:hover::after{
    width: 100%;
}

.nav__link--active::after{
    content: "";
    position: absolute;
    background-color: #d2906d;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -2px;
    transition: .3s;
}

.nav__link--active{
    color: #d2906d;
}

.hero{
    grid-area: hero;
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
    animation: hero 40s infinite linear;
}

.hero__content{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.hero__text{
    margin: 10px;
    padding: 5px;
    font-size: 40px;
    text-align: center;
}

@keyframes hero{
    0%{
        background-image: url(../recursos/img/heroimage1.jpg);
    }
    20%{
        background-image: url(../recursos/img/heroimage1.jpg);
    }
    21%{
        background-image: url(../recursos/img/heroimage6.jpg);
    }
    40%{
        background-image: url(../recursos/img/heroimage6.jpg);
    }
    41%{
        background-image: url(../recursos/img/heroimage3.jpg);
    }
    60%{
        background-image: url(../recursos/img/heroimage3.jpg);
    }
    61%{
        background-image: url(../recursos/img/heroimage4.jpg);
    }
    80%{
        background-image: url(../recursos/img/heroimage4.jpg);
    }
    81%{
        background-image: url(../recursos/img/heroimage5.jpg);
    }
    100%{
        background-image: url(../recursos/img/heroimage5.jpg);
    }
}

/* From uiverse.io by @alexmaracinaru */
.hero__button {
    border: none;
    background: none;
    margin: 10px;
    padding: 5px;
}

.hero__button span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 15px;
    padding-right: 15px;
    text-transform: uppercase;
}

.hero__button svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.hero__button:hover svg {
    transform: translateX(0);
}

.hero__button:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hero__button:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.carrusel{
    grid-area: carrusel;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    position: relative;
    animation: scroll 30s linear infinite;
    animation-direction: normal;
    animation-delay: 0s;
}

@keyframes scroll{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(calc(-250px * 7));
    }
}

.carrusel__logo{
    height: auto;
    width: 150px;
}

.indexsomos{
    grid-area: indexsomos;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.somos__title{
    margin: 10px;
    padding: 5px;
}

.indexsomos__p{
    text-align: center;
    width: 500px;
    margin: 10px;
    padding: 5px;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
}

.indexsomos__p--none{
    display: none;
}

.indexproductos{
    grid-area: indexproductos;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.indexproductos__title{
    margin: 10px;
    padding: 5px;
}

.img__card{
    position: relative;
    height: 150px;
    width: auto;
}

.cards__container{
    display: flex;
    flex-flow: row wrap;
}

.indexproductos__card{
    width: 300px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 10px;

    height: 400px;
    background:#aea17f;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 8px;
    margin-bottom: 10px;
    margin: 15px 10px;
}

.indexproductos__card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.redi{
    grid-area: redi;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url(../recursos/img/heroimage7.jpg);
    width: 100%;
    height: 800px;
}

.redi__content{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.redi__text{
    margin: 10px;
    padding: 5px;
    font-size: 40px;
    text-align: center;
}

.foot{
    grid-area: foot;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.foot__container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
    align-items: stretch;
}

.foot li{
    list-style: none;
    margin: 5px 0;
    padding: 5px 0;
}

.foot__menu{
    text-align: left;
    margin: 10px;
    padding: 5px;
}

.foot__contacto{
    text-align: left;
    margin: 10px;
    padding: 5px;
}

.logofoot{
    height: 200px;
    width: auto;
}

.foot__social{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.foot__socialmedia{
    display: flex;
    flex-flow: row nowrap;
}

.iconSM{
    width: auto;
    height: 30px;
}

.icon__contain{
    margin: 0 6px;
}

.foot__reserv{
    align-items: flex-end;
}

@media (max-width:800px){
    .head {
        grid-area: head;
        display: flex;
        flex-flow: column;
        width: 100%;
        justify-content: space-between;
        background-color: #c0c2c1;
        height: 100%;
        align-items: center;
    }
    .head__nav {
        display: flex;
        margin: 10px;
        margin-bottom: 20px;
        padding: 5 0;
        width: 100%;
        text-align: center;
        flex-wrap: nowrap;
    }
    .nav__links{
        justify-content: space-around;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
    .cards__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
}
}

/* PRODUCTOS */
.productos__grid{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
    "head"
    "carrusel"
    "qs"
    "beneficios"
    "pr__productos"
    "foot";
}

.productos__grid .head{
    grid-area: head;
}

.productos__grid .carrusel{
    grid-area: carrusel;
}

.qs{
    grid-area: qs;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.qs__center{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    order: 0;
}

.qs__tittle{
    margin: 10px;
    padding: 5px;
}

.piedra--simbol{
    height: 300px;
    width: auto;
}

.qs__p{
    width: 250px;
    text-align: center;
    font-style: italic;
    margin: 10px;
    padding: 5px;
}

.qs__p--left{
    order: 1;
    margin-bottom: 80px;
}

.qs__p--rigth{
    order: -1;
    margin-bottom: 80px;
}

.beneficios{
    grid-area: beneficios;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

}

.bn--left{
    display: flex;
    flex-flow: column;
}

.bn__tittle{
    margin: 10px;
    padding: 5px;
}

.bn__p{
    width: 250px;
    margin: 10px;
    padding: 5px;
}

.pr__productos{
    grid-area: pr__productos;
}

.productos__grid .foot{
    grid-area: foot;
}