* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: transparent; }

body {
  background-image: radial-gradient(100% 100% at 50% 100%, #feb2b2 0%, rgba(252, 184, 219, 0.75) 25%, rgba(239, 194, 250, 0.5) 50%, rgba(190, 227, 248, 0) 100%), linear-gradient(90deg, #e8d0b4 0%, #e5c7a7 14.29%, #e3be9b 28.57%, #e1b48e 42.86%, #dfab83 57.14%, #daa27b 71.43%, #d2906d 100%); }

h1, h2, h3, h4, h5 {
  font-family: "EB Garamond", serif; }

h2 {
  color: #aea17f;
  text-shadow: 0px 4px 10px #e8d0b4;
  text-transform: uppercase; }

.foot__social {
  display: flex;
  flex-flow: row nowrap; }

.dtails {
  margin: .4rem;
  padding: .3rem;
  cursor: pointer; }
  .dtails__summary {
    list-style: none; }
    .dtails__summary::before {
      content: '+';
      padding-right: .5rem; }
  .dtails[open] .dtails__summary::before {
    content: '-'; }
  .dtails[open]:hover {
    background-color: transparent;
    border: 2px solid #e8d0b4;
    border-radius: 6px; }
  .dtails:hover {
    background-color: #e8d0b4;
    border-radius: 6px; }
  .dtails__p__container {
    margin: .3rem; }

.heroimage {
  max-height: 1000px;
  max-width: 100%; }

.logo__nav {
  max-height: 150px;
  max-width: 150px; }

.logofoot, .img__card {
  max-height: 150px;
  max-width: 150px; }

.iconSM {
  max-height: 28px;
  max-width: 28px; }

.logo__nosotros, .logo-preguntasf {
  max-height: 300px;
  max-width: 300px; }

.logo__valores {
  max-height: 200px;
  max-width: 200px; }

.logo-contacto {
  max-height: 300px;
  max-width: 300px; }

.carrusel__logo {
  max-height: 150px;
  max-width: 150px; }

.piedra--simbol {
  max-height: 250px;
  max-width: 250px; }

.con-carri {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  justify-content: space-around;
  width: 100%; }
  .con-carri .carrusel {
    grid-area: carrusel;
    margin: 20px 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    animation: scroll 30s linear infinite; }
    .con-carri .carrusel__img {
      width: 150px;
      margin: 5px; }
  .con-carri:hover .carrusel {
    animation-play-state: paused; }

@keyframes scroll {
  from {
    transform: translateX(200%); }
  to {
    transform: translateX(calc( -200%)); } }

.hero__nosotros {
  background: url(../recursos/img/stock6.jpg) fixed center/cover;
  height: 750px;
  width: auto;
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center; }
  .hero__nosotros:before {
    content: "";
    height: 100%;
    width: 100%;
    background: #c0c2c1;
    opacity: .2; }
  .hero__nosotros--info {
    padding: 0px;
    justify-content: center;
    position: absolute;
    width: 50%;
    max-width: 100%;
    text-align: center;
    margin: auto; }

.hero__contacto {
  background: url(../recursos/img/heroimage8.jpg) fixed center/cover;
  height: 750px;
  width: auto;
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center; }
  .hero__contacto:before {
    content: "";
    height: 100%;
    width: 100%;
    background: #c0c2c1;
    opacity: .2; }
  .hero__contacto--info {
    padding: 0px;
    justify-content: center;
    position: absolute;
    width: 50%;
    max-width: 100%;
    text-align: center;
    margin: auto;
    font-size: x-large; }
  .hero__contacto p {
    font-family: "EB Garamond", serif; }

@media only screen and (max-width: 568px) {
  .logo__nav, .logofoot {
    max-height: 100px; }
  .iconSM {
    max-width: 15px; }
  .menu--foot {
    display: none; }
  .card {
    width: 250px; }
  .piedra--simbol {
    max-height: 180px; } }
