
.con-carri{
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    justify-content: space-around;
    width: 100%;
    & .carrusel{
        grid-area: carrusel;
        margin: 20px 15px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        position: relative;
        animation: scroll 30s linear infinite;
        &__img{
            width: 150px;
            margin: 5px;
        }
    }
    &:hover .carrusel{
        animation-play-state: paused;
    }
}

@keyframes scroll{
    from{
        transform: translateX(200%)
    }
    to{
        transform: translateX(calc( -200%));
    }
}
